In [119]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [120]:
df =  pd.read_csv('Image_Segmentation.csv')
df

,Class,region.centroid.col,region.centroid.row,region.pixel.count,short.line.density.5,short.line.density.2,vedge.mean,vegde.sd,hedge.mean,hedge.sd,intensity.mean,rawred.mean,rawblue.mean,rawgreen.mean,exred.mean,exblue.mean,exgreen.mean,value.mean,saturation.mean,hue-mean
0,BRICKFACE,188,133,9,0.000000,0.0,0.333333,0.266667,0.500000,0.077778,6.666666,8.333334,7.777778,3.888889,5.000000,3.333333,-8.333333,8.444445,0.538580,-0.924817
1,BRICKFACE,105,139,9,0.000000,0.0,0.277778,0.107407,0.833333,0.522222,6.111111,7.555555,7.222222,3.555556,4.333334,3.333333,-7.666666,7.555555,0.532628,-0.965946
2,BRICKFACE,34,137,9,0.000000,0.0,0.500000,0.166667,1.111111,0.474074,5.851852,7.777778,6.444445,3.333333,5.777778,1.777778,-7.555555,7.777778,0.573633,-0.744272
3,BRICKFACE,39,111,9,0.000000,0.0,0.722222,0.374074,0.888889,0.429629,6.037037,7.000000,7.666666,3.444444,2.888889,4.888889,-7.777778,7.888889,0.562919,-1.175773
4,BRICKFACE,16,128,9,0.000000,0.0,0.500000,0.077778,0.666667,0.311111,5.555555,6.888889,6.666666,3.111111,4.000000,3.333333,-7.333334,7.111111,0.561508,-0.985811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,GRASS,36,243,9,0.111111,0.0,1.888889,1.851851,2.000000,0.711110,13.333333,9.888889,12.111111,18.000000,-10.333333,-3.666667,14.000000,18.000000,0.452229,2.368311
205,GRASS,186,218,9,0.000000,0.0,1.166667,0.744444,1.166667,0.655555,13.703704,10.666667,12.666667,17.777779,-9.111111,-3.111111,12.222222,17.777779,0.401347,2.382684
206,GRASS,197,236,9,0.000000,0.0,2.444444,6.829628,3.333333,7.599998,16.074074,13.111111,16.666668,18.444445,-8.888889,1.777778,7.111111,18.555555,0.292729,2.789800
207,GRASS,208,240,9,0.111111,0.0,1.055556,0.862963,2.444444,5.007407,14.148149,10.888889,13.000000,18.555555,-9.777778,-3.444444,13.222222,18.555555,0.421621,2.392487
208,GRASS,223,185,9,0.000000,0.0,0.500000,0.349603,2.388889,2.080776,12.962963,11.555555,9.777778,17.555555,-4.222222,-9.555555,13.777778,17.555555,0.445418,1.838850

In [121]:
X = df.drop('Class', axis=1)
y = df['Class']
scalar = MinMaxScaler()
X_scaled = scalar.fit_transform(X)

In [122]:
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score, r2_score, precision_score, confusion_matrix, classification_report

In [123]:
X_train,X_test,Y_train,Y_test = train_test_split(X_scaled,y,test_size=0.2,random_state=24)

n_neighbour = [1,2,3,4,5,6,7,8,9,10]
accu_scores = []
f1_scores= []

for i in n_neighbour:
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train, Y_train)
    y_pred = knn.predict(X_test)
    accu_scores.append(accuracy_score(Y_test, y_pred))
    f1_scores.append(f1_score(Y_test, y_pred, average='weighted'))




i_max = np.argmax(accu_scores)
print('Index of Maximun accuracy Score', n_neighbour[i_max])
print('Best accuracy score', accu_scores[i_max])
print('Best F1 score', f1_scores[i_max])

Index of Maximun accuracy Score 1
Best accuracy score 0.8333333333333334
Best F1 score 0.8387945387945388

In [124]:
X_train = np.array([[1000,0.3],[200,0.9],[300,1.2],[400,3],[500,0.5],[600,0.6]])
X_train = pd.DataFrame(data = X_train, columns = ['X1','X2'])

#Unlabelled data for testing 
X_test = np.array([[2000,0.001],[100,0.1],[300,0.3],[200,3],[1000,3.2]])
X_test = pd.DataFrame(data = X_test, columns = ['X1','X2'])

In [125]:
scaler = MinMaxScaler().set_output(transform= 'pandas')
X_scaled = scaler.fit_transform(X_train)

In [126]:
X_scaled

      X1        X2
0  1.000  0.000000
1  0.000  0.222222
2  0.125  0.333333
3  0.250  1.000000
4  0.375  0.074074
5  0.500  0.111111

In [127]:
X_train

       X1   X2
0  1000.0  0.3
1   200.0  0.9
2   300.0  1.2
3   400.0  3.0
4   500.0  0.5
5   600.0  0.6

In [128]:
X_test

       X1     X2
0  2000.0  0.001
1   100.0  0.100
2   300.0  0.300
3   200.0  3.000
4  1000.0  3.200

In [129]:
scaler.transform(X_test)   # scaler already has min and max values It will apply

      X1        X2
0  2.250 -0.110741
1 -0.125 -0.074074
2  0.125  0.000000
3  0.000  1.000000
4  1.000  1.074074

.fit_transform() should be done on X_train and only .transform()  should be done on X_test
in order to avoid data leakage problem.