In [52]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [53]:
df = pd.read_csv('Glass.csv')

In [54]:
df

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
0,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.0,building_windows_float_processed
1,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.0,building_windows_float_processed
2,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.0,building_windows_float_processed
3,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.0,building_windows_float_processed
4,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.0,building_windows_float_processed
...,...,...,...,...,...,...,...,...,...,...
209,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.0,headlamps
210,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.0,headlamps
211,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.0,headlamps
212,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.0,headlamps
213,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.0,headlamps

In [55]:
X = df.drop('Type',axis = 1)
y = df['Type']

In [56]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,y, test_size=0.3,random_state=24,stratify=df['Type'])

In [75]:
# Scaling with both types of Scaler to find out best results

In [57]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics  import accuracy_score, f1_score
scaler = MinMaxScaler()

x_trn_scl = scaler.fit_transform(X_train)

x_tst_scl = scaler.transform(X_test)

scl = StandardScaler()
x_trn_scl1 = scl.fit_transform(X_train)

x_tst_scl1 =scl.transform(X_test)

In [58]:
#Standard Scaling
scores = []
n_neighbour = [1,2,3,4,5,6,7,8,9,10]

import numpy as np

for i in n_neighbour:
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_trn_scl1,Y_train)
    y_pred = knn.predict(x_tst_scl1)
    scores.append(accuracy_score(Y_test,y_pred))



i_max = np.argmax(scores)
print('Index of Maximun accuracy Score', n_neighbour[i_max])
print('Best accuracy score', scores[i_max])

scores

Index of Maximun accuracy Score 3
Best accuracy score 0.676923076923077

[0.6461538461538462,
 0.6615384615384615,
 0.676923076923077,
 0.6307692307692307,
 0.6307692307692307,
 0.6307692307692307,
 0.6461538461538462,
 0.6,
 0.6153846153846154,
 0.5846153846153846]

In [59]:
# MinMax Sacling
scores = []
n_neighbour = [1,2,3,4,5,6,7,8,9,10]

import numpy as np

for i in n_neighbour:
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_trn_scl,Y_train)
    y_pred = knn.predict(x_tst_scl)
    scores.append(accuracy_score(Y_test,y_pred))



i_max = np.argmax(scores)
print('Index of Maximun accuracy Score', n_neighbour[i_max])
print('Best accuracy score', scores[i_max])

scores

Index of Maximun accuracy Score 3
Best accuracy score 0.7230769230769231

[0.6615384615384615,
 0.6461538461538462,
 0.7230769230769231,
 0.6153846153846154,
 0.6,
 0.6,
 0.6,
 0.5538461538461539,
 0.5384615384615384,
 0.5384615384615384]

# Inferencing

In [60]:
#Now Minmaxscaling using fit_transform() and transrom()
## Testing on new data (unlabelled)
from sklearn.model_selection import train_test_split

df_test = pd.read_csv('tst_Glass.csv')

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics  import accuracy_score, f1_score
scaler = MinMaxScaler()

x_trn_scl = scaler.fit_transform(X)
x_tst_scl = scaler.transform(df_test)
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(x_trn_scl,y)

y_pred = knn.predict(x_tst_scl)
y_pred

array(['building_windows_non_float_processed',
       'building_windows_float_processed',
       'building_windows_non_float_processed', 'headlamps',
       'building_windows_float_processed', 'containers'], dtype=object)

In [61]:
df_test

       RI    Na    Mg    Al     Si      K    Ca    Ba     Fe
0  1.5321  14.0  0.00  0.34  70.23  0.001   6.7  1.23  0.000
1  1.5212  15.0  3.00  1.23  75.90  0.100   7.0  0.00  0.440
2  1.5112  13.0  3.50  2.30  73.00  3.400  14.0  2.30  0.220
3  1.5000  12.4  1.23  3.22  74.22  4.500  10.0  3.10  0.100
4  1.5200  13.0  2.40  0.34  71.22  3.200   9.0  1.44  0.001
5  1.5100  16.0  2.70  4.00  70.00  2.000   6.0  2.90  0.890